{% extends 'dashboard.html.twig' %}

{% block title %}Dashboard | {{ parent() }}{% endblock %}

{% block sidebar %}
    <div class="mb-3">
        {{ component('ConnectionsCard') }}
    </div>
    <div class="mb-3">
        {{ component('InformationsCard') }}
    </div>
{% endblock %}

{% block main %}
    {{ component('DatabaseCard') }}
{% endblock %}
