{% extends 'base.html.twig' %}

{% block body %}
    <div class="app">
        <div class="header">
            {% block header %}
                {{ component('Topbar') }}
            {% endblock %}
        </div>
        <div class="sidebar py-3">
            <div class="container-fluid">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        <div class="main py-3">
            <div class="container-fluid">
                {% block main %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="container-fluid">
                {% block footer %}
                    0.0.1
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
